/FixedColumnAdderWeb$1.class
/FixedColumnAdderWeb.class
/LocationExtractorWeb$1.class
/LocationExtractorWeb.class
/MGRStoLongLatWeb$1.class
/MGRStoLongLatWeb.class
/MetadataExtractorWeb$1.class
/MetadataExtractorWeb.class
/OCRWeb$1.class
/OCRWeb.class
/OCRforTableWeb$1.class
/OCRforTableWeb.class
/ResultsDownloader.class
/SpeciesExtractorWeb$1.class
/SpeciesExtractorWeb.class
/Startup.class
/TableJoinerWeb$1.class
/TableJoinerWeb.class
/TagsToCsvWeb$1.class
/TagsToCsvWeb.class
/TaxonTaggerWeb$1.class
/TaxonTaggerWeb.class
/TimeZoneExtractorWeb$1.class
/TimeZoneExtractorWeb.class
/TxtTaggerWeb$1.class
/TxtTaggerWeb.class
