/DEPRECATEDTaxonTagger.class
/Databases.class
/FileCleaner.class
/FixedColumnAdder.class
/LocationExtractorSeqLoad.class
/MGRStoLongLat.class
/MetadataExtractorSeqLoad.class
/OCR.class
/OCRforTable.class
/OutputToUser.class
/SpeciesExtractorSeqLoad.class
/TableJoiner.class
/TimeZoneExtractor.class
/UnzipUtility.class
/csvLineCounter.class
/folderChooser.class
/taskScheduler.class
/CsvLineCounter.class
/FolderChooser.class
/TaskScheduler.class
