/AOLocationTagger.class
/DateTagger.class
/PTLocationTagger.class
/PortugueseDictionary.class
/TxtTagger$CustomTagsException.class
/TxtTagger.class
/customTagger.class
/luceneOrdering$1.class
/luceneOrdering.class
/speciesTagger.class
/tagToCsv.class
/CustomTagger.class
/LuceneOrdering$1.class
/LuceneOrdering.class
/SpeciesTagger.class
/TagToCsv.class
